<h1>
  <LinkTo @route='application'>
    Ember Wordpress
  </LinkTo>
</h1>

<p>
  This is a demo application of bridging an Ember.js front-end with a Wordpress WP-API backend using
  <a href='https://github.com/oskarrough/ember-wordpress'>
    ember-wordpress
  </a>
  . The source code is in the repository's `tests/dummy` folder.
</p>

<nav>
  <LinkTo @route='posts' data-test-nav-posts>
    Posts
  </LinkTo>
  ●
  <LinkTo @route='categories' data-test-nav-categories>
    Categories
  </LinkTo>
  ●
  <LinkTo @route='page' @model='about' data-test-nav-about>
    About page
  </LinkTo>
</nav>

{{outlet}}