<h2>
  Categories
</h2>

<ul>
  {{#each @model as |category|}}
    <li>
      <LinkTo
        @route='categories.category'
        @model={{category.slug}}
        data-test-category-link
      >
        {{category.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

{{outlet}}