<p>This is a demonstation of <a href="https://github.com/oskarrough/ember-wordpress">ember-wordpress</a>. The source code is in the repository.</p>

<p>Below are the latests <em>post</em> models from a test Wordpress installation.</p>

<ul>
	{{#each model as |post|}}
		<li>
			{{#link-to 'posts.post' post}}
				{{post.title}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>

{{outlet}}
